body {
	padding 0.2%;
	background-color: gray;
	margin: 0 ;
}

.wrapper {
	position: fixed ;
    width: 99.8vw ;
    height: 99.8vh;
    border: solid 2px gray;
    margin: 0%;
    padding: 0%;
}

#data {
	width: 29.8vw;
	padding-right: 0;
	border-right: solid 8px gray ;
	background-color: white;
}

.panel {
	margin: 0 ;
	padding: 0 ;
	height: 99vh;
	width: 70vw;
}

#tree {
	height: 70vh;
	overflow-y: auto;
	margin: 0; 
	padding: 0;
 	border-bottom: solid 4px gray ;
}

#details {
	height: 29vh;
	overflow-y: auto;
	margin: 0; 
	padding: 0;
}

.onVerticalBorder {
	cursor: col-resize;
}

.onHorizontalBorder {
	cursor: row-resize;
}


.noSelection {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
